@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Onest:wght@300;900&display=swap');
:root {
    --primary-color: #205375; 
    --secondary-color: #329D9B; 
    --background-color: #F3F7F7; 
    --text-color: #0484fb; 
    --accent-color: #e7533c; 
}
[data-theme="dark"] {
    --primary-color:#0b151c;
    --background-color: #121212;
    --text-color: #ffffff;
    --nav-background-color: #333333;
    --nav-text-color: #ffffff;
}
#theme-toggle {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: var(--primary-color); 
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    outline: none; 
    margin: 10px;
    font-weight: bold;
}

body {
    background-color: var(--background-color);
    font-family: 'Francois One', sans-serif;
    font-family: 'Onest', sans-serif;
    color: var(--text-color);
}
header {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
}

h1 {
    line-height: 1.2; 
    margin: 0.5em 0; 
    font-size: 3em; 
    padding: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    font-weight: bold; 
    color: var(--text-color); 
}


nav {
    background-color: var(--secondary-color);
    padding: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 14px 16px;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a.active {
    background-color: var(--accent-color);
    color: var(--text-color);
}

dt{
    color:#FFFFFF;
    font-weight: bold;
}
dd{
    font-size:2em;
}
.category{
    background-color: var(--background-color); 
    font-size:2.5em;
    color: var(--text-color);
    padding: 5px;
    text-shadow: 2px 2px 2px #667;
}
footer{
    font-size:.90em;
    font-style: italic;
    padding: 10px; 
    margin-left: 20px;
}
#wrapper{
    width:80%;
    min-width: 700px;
    margin-right:auto;
    margin-left:auto;
    background-color: var(--background-color); 
    color:#000000;
}
img{
    border:none;
}
main {
    padding: 20px;
    background-color: var(--background-color); 
    color: var(--text-color); 
    min-height: 80vh; 
}
footer nav{
    background-color: #F0F0F0;
}
*{
    box-sizing:border-box;
}
.about-me {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
}

.grid-item {
    background: var(--background-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.grid-item.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item.image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--background-color);
}

tr:hover {
    background-color: var(--primary-color);
}
#mySubmit {
    margin-left: 9.5em;
}
#mobile {
    display:none;
}
#desktop {
    display: inline;
}
#contactForm {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: var(--background-color); 
    border: 1px solid #e1e1e1; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

#contactForm label, #contactForm input, #contactForm textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
}

#contactForm input, #contactForm textarea {
    padding: 15px; 
    border: 2px solid #329D9C; 
    border-radius: 5px; 
    font-size: 1em; 
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); 
}
#contactForm input:focus, #contactForm textarea:focus {
    outline: none; 
    border-color: #205375;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.2);
} 

#contactForm button {
    width: auto; 
    padding: 15px 30px; 
    background-color: var(--primary-color); 
    font-size: 1.1em; 
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    margin-top: 10px;
}

#contactForm button:hover {
    background-color: #1d4d7b; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

#submitBtn.success {
    background-color: #4CAF50; 
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 0;
}

.project-card {
    background: var(--background-color);
    border-radius: 7px;
    box-shadow: 0 10px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    width: calc(33% - 20px);
    margin-bottom: 20px;
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
}

.project-info {
    padding: 15px;
}

.project-title {
    margin: 0 0 10px 0;
}

.project-description {
    font-size: 0.9em;
    line-height: 1.6em;
}

.project-link {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-link:hover {
    background: #555;
}
.blog-post {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 40px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 2em;
    color: var(--text-color);
}

.post-date {
    font-size: 0.85em;
    color: var(--text-color);
    margin-bottom: 20px;
}

.post-content {
    margin-top: 0.5em;
}
.post-content p {
    text-align: justify;
    margin-bottom: 20px;
}

.read-more {
    background-color: #333;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.read-more:hover {
    background-color: #555;
}
.post-preview {
    margin-top: 0.5em;
}

.post-full-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}


.expanded {
    max-height: 1000px; 
}
article.blog-post {
    background: var(--background-color);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.blog-post figure {
    margin: 20px 0; 
    text-align: center; 
}

.blog-post img {
    max-width: 10%; 
    height: auto; 
    border-radius: 5px; 
}

.blog-post figcaption {
    font-size: 0.9em; 
    color: var(--text-color); 
}
p{
    color: var(--text-color);
}


@media (max-width: 600px) {
    #contactForm {
        padding: 10px;
    }
}
@media (max-width: 768px) {
    h1 {
        font-size: 2em; 
        text-indent: 0.5em;
    }
}


@media only screen and (max-width: 1024px){
    body {
        margin: 0;
        padding: 0;
        background-color: white;
        background-image: none;
    }
    #wrapper {
        width: auto;
        min-width: 0;
        margin: 0;
    }

    h1 {
        margin: 0;
        font-size: 1.8em;
        line-height: 200%;
    }
    nav {
        float: none;
        width: auto;
    }
    nav li {
        display: inline-block;
        padding: 1em;
        font-size: 1.2em;
    }
    main ul {
        text-align: center;
        padding: 0;
        margin: 0;
    }

    main {
        font-size: 90%;
        margin: 0;
        padding: 2em;
    }
    footer {
        margin: 0;
    }
    #mobile {
        display: none;
    }
    #desktop {
        display:inline;
    }
    }
    @media only screen and (max-width: 768px) {

    header {
        background-size: contain; 
    }

    h1 {
        font-size: 1.5em;
        line-height: 120%;
    }

    nav a {
        font-size: 1.3em;
        border-bottom: 1px solid #330000;
    }
    nav li {
        display: block;
    }
    nav ul {
        text-align: left;
    }
    main {
        padding-left: 0;
    }
    .category {
        text-shadow: none;
    }
    #mobile {
        display: inline;
    }

    #desktop {
        display: none;
    }
}

