body {
    transition: background-color 0.5s, color 0.5s; /* Add smooth transition effect */
    background-color: #fff; /* Light background color */
    color: #333; /* Dark text color */
    font-family: Arial, sans-serif;
  }
  header{
    background-color: pink;
    color: black;
    width: 100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

  #nav a {
    display: block;
    padding: 20px;
    top: 0;
    position:relative;

    font-size: 1.2rem;
    text-align: center;
    
    text-decoration: none;
}
  #nav ul {
    display: grid;
    grid-template-columns: auto auto auto ;
    
    height: 20px;
}
#container{
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
#ContainerBox {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 1500px;
  
  margin: 50px;
}

#ContainerBox h3 {
  padding: 20px;
  text-align: center;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
}

#ContainerBox img {
  padding: 10px;
  width: 40%;
  margin: 0 auto; 
}

#ContainerBox p {
  font-size: x-large;
  font-style: normal;
}

img{
    border:none;
    
}
main{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 180px;
    padding-right: 20px; 
    padding-bottom: 20px;
}
footer nav{
    background-color: white;
}
.category{
    
    font-size:2.5em;
   
    padding: 5px;
    text-shadow: 2px 2px 2px #667;
}
footer{
    font-size:.90em;
    font-style: italic;
    padding: 10px; 
    margin-left: 180px;
}

 
  
  
  h1, h2, h3, p {
    color: #333; 
  }
  
  a {
    color: #007bff; 
  }
  
  a:hover {
    color: #0056b3; 
  }
  
  
  body.dark-theme {
    background-color: #1a1a1a; 
    color: #fff; 
  }
  
  body.dark-theme h1,
  body.dark-theme h2,
  body.dark-theme h3,
  body.dark-theme p {
    color: #fff; 
  }
  
  body.dark-theme a {
    color: #66b2ff; 
  }
  
  body.dark-theme a:hover {
    color: #3385ff; 
  }
  
  
  .btn {
    background-color: #007bff; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3; 
  }