body {
    transition: background-color 0.5s, color 0.5s; /* Add smooth transition effect */
    background-color: #fff; /* Light background color */
    color: #333; /* Dark text color */
    font-family: Arial, sans-serif;
  }
  header{
    background-color: pink;
    color: black;
    width: 100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 10px 20px;
    
  }
img{
    border:none;
    
}
main{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 180px;
    padding-right: 20px; 
    padding-bottom: 20px;
}
footer nav{
    background-color: white;
}
.category{
    
    font-size:2.5em;
   
    padding: 5px;
    text-shadow: 2px 2px 2px #667;
}
footer{
    font-size:.90em;
    font-style: italic;
    padding: 10px; 
    margin-left: 180px;
}
#wrapper{
    width:80%;
    min-width: 700px;
    margin-right:auto;
    margin-left:auto;
    
}
*{
    box-sizing:border-box;
}
  
  /* Customize other elements as needed */
  h1, h2, h3, p {
    color: #333; /* Dark text color for headings and paragraphs */
  }
  
  a {
    color: #007bff; /* Link color */
  }
  
  a:hover {
    color: #0056b3; /* Link color on hover */
  }
  
  /* Dark theme styles */
  body.dark-theme {
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Light text color */
  }
  
  body.dark-theme h1,
  body.dark-theme h2,
  body.dark-theme h3,
  body.dark-theme p {
    color: #fff; /* Light text color for headings and paragraphs */
  }
  
  body.dark-theme a {
    color: #66b2ff; /* Link color */
  }
  
  body.dark-theme a:hover {
    color: #3385ff; /* Link color on hover */
  }
  
  /* Example of a button style */
  .btn {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3; /* Button background color on hover */
  }